

@font-face {
    font-family: 'license';
    src: url('fonts/license.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
}

#YsabeauSC-VariableFont {
  font-family: "license", sans-serif;

}

#Montserrat {
  font-family: "Montserrat", sans-serif;

}
#Roboto {
  font-family: "Roboto", sans-serif;
}
